<?xml version="1.0"?>
<config>
    <modules>
        <Aoe_Eav>
            <version>0.1.0</version>
        </Aoe_Eav>
    </modules>
    <global>
        <models>
            <eav>
                <rewrite>
                    <config>Aoe_Eav_Model_Config</config>
                </rewrite>
            </eav>
        </models>
    </global>
</config>
